body {
  font-family: Sans-Serif;
  text-align: center;
  background: #e7e7e7;
  border-top: 10px solid #ffde59;
  margin: 0;
  padding-top: 150px;
  color: #444;
}

a:link, a:visited, a:hover, a:focus {
  color:inherit;
}

a:hover {
  /* font-weight: bold; */
}

div.image {
  width: 200px;
  height: 250px;
  background-image: url('../images/awol.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  border: 2px solid #777;
  margin: auto;
}
